<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/image/favicon.svg">
  <link rel="mask-icon" href="/image/favicon.svg" color="#d65d0e">
  <link rel="alternate icon" href="favicon.ico">
  <title>{{ .Title }}</title>
    {{ if not .Raw }}
        <link rel="stylesheet" href="/css/font.css" media="all">
        <link rel="stylesheet" href="/css/colors.css" media="all">
        <link rel="stylesheet" href="/css/style.css" media="all">
        <link rel="stylesheet" href="/css/print.css" media="print">
    {{ end }}
    {{ if .CustomCss }}
      <link rel="stylesheet" href="{{- .CustomCss -}}" media="all">
    {{ end }}
    <script src="/script/reload.js"></script>
</head>
<body>
{{ if not .Raw }}
  <div id="switch" class="theme-switch">
    <label id="switch" class="switch">
      <input type="checkbox" onchange="toggleTheme()" id="slider">
      <span class="slider round"></span>
    </label>
  </div>
{{ end }}
<article class="markdown-body entry-content">
    {{ .Content }}
</article>
    {{ if not .Raw }}
        <script src="/script/highlight.js"></script>
        <script>
        'use strict';
        const init = () => {
	        let re = /highlight-(\w+)/;

            document.querySelectorAll('div.highlight').forEach((block) => {
                if (!(block.classList.contains('highlight-plain')
                    || block.classList.contains('highlight-none')
                    || (block.classList.contains('highlight-text')))) {

                    block.classList.forEach((c) => {
			        if (c.match(re)) {
                        block.classList.add(c.replace(re, 'language-$1'));
                    }})
                    hljs.highlightElement(block);
                    }
            });

            document.querySelectorAll('input').forEach((el) => {
                if(el.parentElement.nodeName === 'LI' && el.parentElement.parentElement.nodeName === 'UL') {
                    el.parentElement.classList.add('li-checkbox-no-bullet')
                }

                if (el.getAttribute('type') === 'checkbox') {
                    el.removeAttribute('disabled')
                }
            });
        }

        const setTheme = (theme) => {
          localStorage.setItem('theme', theme);
          document.documentElement.className = 'theme-'+theme
        }

        const toggleTheme = () => {
          if (localStorage.getItem('theme') === 'dark') {
            setTheme('light');
          } else {
            setTheme('dark');
          }
        }

        document.addEventListener("DOMContentLoaded", init);
        console.info('mdsync {{ .AppVersion }}');
        let isDark = localStorage.getItem('theme') === 'dark';
        setTheme(isDark ? 'dark' : 'light');
        document.getElementById('slider').checked = !isDark;

        </script>
    {{ end }}
    {{ if .CustomScript }}
      <script src="{{- .CustomScript -}}"></script>
    {{ end }}
</body>
</html>
